input.ng-invalid.ng-touched{
    border: 2px solid red;
}
input.ng-valid.ng-touched{
    border: 2px solid rgb(0, 255, 0);
}
label{
    color:rgb(244, 143, 66);
    font-family: fantasy;
}

.container-fluid{
    margin: 0;
    padding: 0;
}