/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg");
    background-size: cover;
    background-attachment: fixed;

}



